<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

        RewriteEngine On

        AuthType Basic
        AuthName admin
        AuthUserFile /usr/home/testing_ground/.htpasswd
        require valid-user

        # Change root directory
        RewriteCond %{REQUEST_URI} !^/public/
        RewriteRule ^(.*)$ /public/$1 [L,R=301]
</IfModule>
